.register-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #ffffff; /* Standardizing background color */
}

.register-box {
  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: #ffffff; /* Standardize color between sections */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

.register-left-column {
  flex: 1; /* Prevents the column from growing or shrinking */
  background-image: url("https://artisanai-storage.sfo3.digitaloceanspaces.com/login/login_banner_copy.webp");
  background-size: cover;
  background-position: center;
  /* Optionally, set a minimum width to maintain layout on smaller screens */
  min-width: 300px;
}

.register-right-column {
  flex: 1;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #ffffff; /* Standardize */
}
.register-right-column .MuiFormHelperText-root {
  height: 0.3em; /* Further reduced height */
  font-size: 0.7rem; /* Further reduced font size */
  line-height: 1.1;
  margin-top: 1px; /* Further reduced margin */
}


.artisan-logo {
  height: 50px;
  margin-bottom: 20px;
  align-self: center;
}

.text-primary {
  color: #6c63ff; 
}

.register-button {
  background-color: #6c63ff;
  color: white;
  margin-top: 16px;
}

/* Disabled Register Button Styling */
.register-button:disabled {
  background-color: #a0a0a0; 
  color: #666666;            
  cursor: not-allowed;      
}

.register-image {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
}

.general-error {
  min-height: 1em; /* Fixed height */
  font-size: 0.75rem; /* Smaller font size */
  line-height: 1.2;
  margin-top: 8px; /* Adjust as needed */
  color: #d32f2f; /* MUI's error color */
}


/* Remove border-radius to make input fields fully rectangular */
.MuiOutlinedInput-root,
.MuiOutlinedInput-notchedOutline,
.MuiInputBase-input,
.MuiInputBase-root,
.MuiInputAdornment-root {
  border-radius: 0 !important;
}

.MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
  border-radius: 0 !important;
}
